/** @format */

// Custom bootstrap colors

$light: #fcfaf9;
$primary: #2d3047;
$dark: #50537c;
$secondary-color: #388697;
$info: #03c9a1;
$warning: #e55381;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

// Custom colors defaults
body {
  background-color: $light;
}
h1,
h2 {
  text-align: center;
}
h1,
h2,
h3 {
  color: $info;
}
// navbar

@media screen and (max-width: 299px) {
  #brand-small,
  #brand-normal {
    display: none;
  }
  #brand-tiny {
    display: flex;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  #brand-small {
    display: flex;
  }
  #brand-normal,
  #brand-tiny {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  #brand-small,
  #brand-tiny {
    display: none;
  }
  #brand-normal {
    display: flex;
  }
}

h1 {
  margin-top: 65px;
}
h2 {
  scroll-margin-top: 65px;
}

// timeliness disclaimer

#disclaimer-popup {
  position: fixed;
  top: 25vh;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: $warning;
  padding: 20px;
  z-index: 999;
  color: $light;
}

.disclaimer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#disclaimer-accept {
  display: inline-block;
  padding: 8px 16px;
  background-color: $primary;
  color: #fff;
  text-decoration: none;
  margin: 8px;
  cursor: pointer;
}

// image

#picture-container {
  display: flex;
  justify-content: center;
}
#picture-mobile,
#picture-tablet,
#picture-desktop {
  height: 50vh;
  object-fit: cover;
  background-position: center 35%;
}

@media screen and (max-width: 576px) {
  #picture-mobile {
    display: flex;
  }
  #picture-tablet,
  #picture-desktop {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  #picture-tablet {
    display: flex;
  }
  #picture-mobile,
  #picture-desktop {
    display: none;
  }
}

@media (min-width: 991px) {
  #picture-desktop {
    display: flex;
  }
  #picture-tablet,
  #picture-mobile {
    display: none;
  }
}

@media (min-width: 2600px) {
  #picture-desktop {
    height: 30vh;
  }
}
footer {
  height: 56px;
}

// CV (gridreused from previous project)

.cv-container {
  display: grid;
  grid-template-areas:
    "head"
    "education"
    "experience"
    "skills";
}

.cv-head {
  grid-area: head;
}
.cv-education {
  grid-area: education;
  margin-top: 0.5rem;
}
.cv-experience {
  grid-area: experience;
  margin-top: 0.5rem;
}
.cv-skills {
  grid-area: skills;
  margin-top: 0.5rem;
}

@media screen and (min-width: 577px) {
  #cv-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem 1rem;
  }
  .cv-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "head head"
      "experience education"
      "experience skills"
      "experience .";
    gap: 15px;
  }
}

@media screen and (min-width: 992px) {
  #cv-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cv-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "head head head"
      "education experience experience"
      "skills experience experience";
    gap: 20px 100px;
  }
}

#cv-contact {
  div span {
    margin-right: 0.3rem;
  }
  a {
    text-decoration: none;
  }
}
.cv-head {
  margin-bottom: 0.6rem !important;
}
.cv-bulletpoint {
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
}
.cv-period {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.2rem !important;
}
.cv-description {
  color: $secondary-color;
  margin-left: 1rem;
  position: relative;
  margin-top: 0rem !important;
  margin-bottom: 0.6rem !important;
}
p {
  margin-bottom: 0rem !important;
}

.cv h3 {
  margin-top: 0.5rem;
}
